<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://images.unsplash.com/photo-1664930720183-f2c6e2f92d00?q=80&w=1380&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
         alt=""
         height="200px"
         >
    </div>
    <div class="big-card__title">
       <h1> <a href="#">Saiu a nova versao de pringles</a></h1>
    </div>
    <div class="big-card__description">
    <p>
        <a href="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio qui itaque, perspiciatis ut praesentium excepturi consequatur voluptas eum architecto delectus deserunt iste, nobis tenetur quod unde reprehenderit omnis, molestiae iure.</a>
    </p>
    </div>
</div>
