<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://images.unsplash.com/photo-1664930720183-f2c6e2f92d00?q=80&w=1380&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle="NOVO SABOR DE PRINGLES NA AREA"
        cardDescription="Pringles endoidou e lançou 15 sabores novos, abalando nas redes e no coração de admiradores da marca"
        >
            
        </app-big-card>

    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://images.unsplash.com/photo-1495360010541-f48722b34f7d?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
         cardTitle="Gatos sao muito fofos"></app-small-card>
        <app-small-card photoCover="https://images.unsplash.com/photo-1726137065519-c9a1b9eca951?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle="Os perigos do pagamento por aproximacao"
        ></app-small-card>
        <app-small-card photoCover="https://images.unsplash.com/photo-1742317402143-449e8b4cbf91?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle="Pequena vila tem se tornado atração turistica pela simplicidade"></app-small-card>
    </div>

</div>
